<nav>
  <a href="https://www.rafay99.com/about" class="nav-item">
    <i class="fas fa-user"></i>
    <span>About Me</span>
  </a>
  <a href="#credits" class="nav-item">
    <i class="fas fa-star"></i>
    <span>Credits</span>
  </a>
  <div class="nav-item" onclick="toggleDarkMode()">
    <i id="mode-icon" class="fas fa-moon"></i>
    <span id="mode-text">Dark Mode</span>
  </div>
</nav>
